.item{
    background-color: rgb(13, 32, 51);
    max-width: 200px;
    max-height: 600px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    flex-direction: column;
    width: 200px;
    height: 600px;
    background-color: rgb(13, 32, 51);
    margin: 1rem;
    list-style:none;
}    
.img-item{  
    height: 300px;
    width: 200px;
    object-fit: contain;
    flex-shrink: 0;
     border-radius: 15px 15px 0px 0px;  
}
.text-item{
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin: none;
    font-size: 18px;
    padding: 0px 0px;
    text-decoration: none;
    
}
.text-item{
    display: flex;
    flex-direction: column;
    color: rgb(239, 239, 239);  
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(13, 32, 51);
}
.price-item{
    background-color: rgb(10, 26, 42);
    padding: 10px;
}

a{
    color: white;
}
.item:hover{
    transition-duration: 1s;
    box-shadow: 1px 0px 36px 16px rgba(4,217,255,0.71);
        -webkit-box-shadow: 1px 0px 36px 16px rgba(4,217,255,0.71);
        -moz-box-shadow: 1px 0px 36px 16px rgba(4,217,255,0.71);
    transform: scale(1.1);
}